In [1]:
import pandas as pd

In [10]:
b1 = pd.read_csv('C:/Users/USER/Desktop/데잇걸즈/데모데이/1. 소설문학.csv', encoding = 'cp949')
b2 = pd.read_csv('C:/Users/USER/Desktop/데잇걸즈/데모데이/2. 오디오북스.csv', encoding = 'cp949')
b3 = pd.read_csv('C:/Users/USER/Desktop/데잇걸즈/데모데이/3. 자기계발.csv', encoding = 'cp949')
b4 = pd.read_csv('C:/Users/USER/Desktop/데잇걸즈/데모데이/4. 경제경영.csv', encoding = 'cp949')
b5 = pd.read_csv('C:/Users/USER/Desktop/데잇걸즈/데모데이/5. 인문교양.csv', encoding = 'cp949')
b6 = pd.read_csv('C:/Users/USER/Desktop/데잇걸즈/데모데이/6. 역사.csv', encoding = 'cp949')

In [11]:
b1= b1.drop('Unnamed: 0', axis = 1)
b2= b2.drop('Unnamed: 0', axis = 1)
b3= b3.drop('Unnamed: 0', axis = 1)
b4= b4.drop('Unnamed: 0', axis = 1)
b5= b5.drop('Unnamed: 0', axis = 1)
b6= b6.drop('Unnamed: 0', axis = 1)

In [12]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
genre = []
for i in range(len(b1)):
    genre.append('소설문학')

In [22]:
len(genre)

7406

In [23]:
b1['genre'] = '소설문학'

In [25]:
b2['genre'] = '오디오북스'
b3['genre'] = '자기계발'
b4['genre'] = '경제경영'
b5['genre'] = '인문교양'
b6['genre'] = '역사'

In [26]:
b12 = pd.concat([b1, b2])
b12

                         title  nickname  rating voice author  genre
0                    저스트 어 모멘트      유노창민     100   이나리    이경화   소설문학
1                  [단편] 헤엄치는 밤   나이스가이72     100   최인영    한유주   소설문학
2                  [단편] 헤엄치는 밤        하브     100   최인영    한유주   소설문학
3                  [단편] 헤엄치는 밤        양수     100   최인영    한유주   소설문학
4                  [단편] 헤엄치는 밤  티씨지는부산더락     100   최인영    한유주   소설문학
...                        ...       ...     ...   ...    ...    ...
2942  정진영이 읽는 김기진의 젊은 이상주의자의 사      페북루나     100   정진영    김기진  오디오북스
2943           양희경이 읽는 염상섭의 전화    59lady     100   양희경    염상섭  오디오북스
2944           양희경이 읽는 염상섭의 전화    버들수리뽀뽀     100   양희경    염상섭  오디오북스
2945      이원승이 읽는 현진건의 운수 좋은 날      줄리이모     100   이원승    현진건  오디오북스
2946      이원승이 읽는 현진건의 운수 좋은 날      성난환소     100   이원승    현진건  오디오북스

[10353 rows x 6 columns]

In [28]:
booklist = pd.concat([b12, b3, b4, b5, b6])

In [29]:
booklist

           title  nickname  rating voice author genre
0      저스트 어 모멘트      유노창민     100   이나리    이경화  소설문학
1    [단편] 헤엄치는 밤   나이스가이72     100   최인영    한유주  소설문학
2    [단편] 헤엄치는 밤        하브     100   최인영    한유주  소설문학
3    [단편] 헤엄치는 밤        양수     100   최인영    한유주  소설문학
4    [단편] 헤엄치는 밤  티씨지는부산더락     100   최인영    한유주  소설문학
..           ...       ...     ...   ...    ...   ...
580  전쟁과 평화(요약본)    호이호이슈슈     100   김은정   톨스토이    역사
581  전쟁과 평화(요약본)       쌀까마     100   김은정   톨스토이    역사
582  전쟁과 평화(요약본)    히든인천러브     100   김은정   톨스토이    역사
583  전쟁과 평화(요약본)   아산둔포황소야     100   김은정   톨스토이    역사
584  전쟁과 평화(요약본)   히키코모리11     100   김은정   톨스토이    역사

[15965 rows x 6 columns]

In [30]:
len(b12) + len(b3) + len(b4) + len(b5) + len(b6)

15965

In [35]:
booklist = booklist.reset_index().drop('index', axis=1)
booklist

             title  nickname  rating voice author genre
0        저스트 어 모멘트      유노창민     100   이나리    이경화  소설문학
1      [단편] 헤엄치는 밤   나이스가이72     100   최인영    한유주  소설문학
2      [단편] 헤엄치는 밤        하브     100   최인영    한유주  소설문학
3      [단편] 헤엄치는 밤        양수     100   최인영    한유주  소설문학
4      [단편] 헤엄치는 밤  티씨지는부산더락     100   최인영    한유주  소설문학
...            ...       ...     ...   ...    ...   ...
15960  전쟁과 평화(요약본)    호이호이슈슈     100   김은정   톨스토이    역사
15961  전쟁과 평화(요약본)       쌀까마     100   김은정   톨스토이    역사
15962  전쟁과 평화(요약본)    히든인천러브     100   김은정   톨스토이    역사
15963  전쟁과 평화(요약본)   아산둔포황소야     100   김은정   톨스토이    역사
15964  전쟁과 평화(요약본)   히키코모리11     100   김은정   톨스토이    역사

[15965 rows x 6 columns]

In [ ]:
booklist.to_csv('')

In [34]:
booklist.groupby('nickname').count()

          title  rating  voice  author  genre
nickname
0001000       1       1      1       1      1
0019          1       1      1       1      1
00young       1       1      1       1      1
015bc603      1       1      1       1      1
027           1       1      1       1      1
...         ...     ...    ...     ...    ...
히히희상          1       1      1       1      1
히힛잉           9       9      7       9      9
힉스입자          2       2      1       2      2
힐데            1       1      1       1      1
힘좀내요         12      12      9      12     12

[4951 rows x 5 columns]