In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('C:/Users/USER/Desktop/깃헙코웤/team_3/data/댓글합.csv', encoding='utf-8').drop('Unnamed: 0', axis=1).groupby('title').count().sort_values('rating', ascending=False).head(30)
df = df.reset_index()
df

,title,nickname,rating,voice,author,review,created,publish,genre
0,최민식이 읽는 이범선의 오발탄,1445,1445,1445,1445,1425,1445,1445,1445
1,어른이 되면 괜찮을 줄 알았다,530,530,530,530,529,530,530,530
2,딜리트,521,521,0,521,521,521,521,521
3,담배만이 우리 세상,480,480,480,480,480,480,480,480
4,[EBS 세계문학전집] 15소년 표류기,472,472,472,472,472,472,472,472
5,[EBS 세계문학전집] 걸리버 여행기,424,424,424,424,424,424,424,424
6,[EBS 세계문학전집] 장발장,418,418,418,418,418,418,418,418
7,[한예리 낭독] 안락 _ 작은책,407,407,407,407,407,407,407,407
8,살고 싶다는 농담,392,392,392,392,392,392,392,392
9,나는 왠지 대박날 것만 같아!,391,391,391,391,391,391,391,391
10,초등 감정 사용법,362,362,0,362,362,362,362,362
11,열하일기 첫걸음,352,352,0,352,352,352,352,352
12,당신의 슬픔을 훔칠게요,348,348,348,348,346,348,348,348
13,어쩌면 내가 가장 듣고 싶었던 말 (요약),345,345,345,345,345,345,345,345
14,블랙코미디,343,343,343,343,342,343,343,343
15,일 잘하는 사람은 단순하게 합니다,334,334,334,334,334,334,334,334
16,[성진환 낭독] 나조차 나를 사랑하지 못하고,333,333,333,333,333,333,333,333
17,세계는 왜 싸우는가,314,314,314,314,313,314,314,314
18,빨강머리 앤 : 초록지붕 집 이야기,312,312,312,312,312,312,312,312
19,데일 카네기 인간관계론,288,288,288,288,288,288,288,288
20,[윤덕원 낭독] 해피 아포칼립스! _ 작은책,267,267,267,267,267,267,267,267
21,좀머 씨 이야기,266,266,266,266,266,266,266,266
22,[김새벽 낭독] 인터내셔널의 밤 _ 작은책,261,261,261,261,261,261,261,261
23,[이승열 낭독] 모든 곳에 존재하는 로마니의 황제 퀴에크 _ 작은책,242,242,242,242,242,242,242,242
24,빨강머리 앤 : 에이번리 이야기,231,231,231,231,231,231,231,231
25,[공포괴담집] 저승에서 돌아온 남자,227,227,227,227,227,227,227,227
26,문성근이 읽는 박태원의 소설가 구보 씨의 일일,212,212,212,212,211,212,212,212
27,들어본 이야기,209,209,209,209,209,209,209,209
28,[공포괴담집] 무조건 모르는 척하세요,197,197,197,197,197,197,197,197
29,소년이 온다,195,195,0,195,195,195,195,195

In [16]:
df['title']

0                          최민식이 읽는 이범선의 오발탄
1                          어른이 되면 괜찮을 줄 알았다
2                                       딜리트
3                                담배만이 우리 세상
4                     [EBS 세계문학전집] 15소년 표류기
5                      [EBS 세계문학전집] 걸리버 여행기
6                          [EBS 세계문학전집] 장발장
7                         [한예리 낭독] 안락 _ 작은책
8                                 살고 싶다는 농담
9                          나는 왠지 대박날 것만 같아!
10                                초등 감정 사용법
11                                 열하일기 첫걸음
12                             당신의 슬픔을 훔칠게요
13                  어쩌면 내가 가장 듣고 싶었던 말 (요약)
14                                    블랙코미디
15                       일 잘하는 사람은 단순하게 합니다
16                 [성진환 낭독] 나조차 나를 사랑하지 못하고
17                               세계는 왜 싸우는가
18                      빨강머리 앤 : 초록지붕 집 이야기
19                             데일 카네기 인간관계론
20                 [윤덕원 낭독] 해피 아포칼립스! _ 작은책
21                                 좀머 씨 이야기
22                  [김새벽 낭독] 인터내셔널의 밤 _ 작은책
23    [이승열 낭독] 모든 곳에 존재하는 로마니의 황제 퀴에크 _ 작은책
24                        빨강머리 앤 : 에이번리 이야기
25                      [공포괴담집] 저승에서 돌아온 남자
26                문성근이 읽는 박태원의 소설가 구보 씨의 일일
27                                  들어본 이야기
28                     [공포괴담집] 무조건 모르는 척하세요
29                                   소년이 온다
Name: title, dtype: object

In [21]:
df.iloc[:, :2]

                                    title  nickname
0                        최민식이 읽는 이범선의 오발탄      1445
1                        어른이 되면 괜찮을 줄 알았다       530
2                                     딜리트       521
3                              담배만이 우리 세상       480
4                   [EBS 세계문학전집] 15소년 표류기       472
5                    [EBS 세계문학전집] 걸리버 여행기       424
6                        [EBS 세계문학전집] 장발장       418
7                       [한예리 낭독] 안락 _ 작은책       407
8                               살고 싶다는 농담       392
9                        나는 왠지 대박날 것만 같아!       391
10                              초등 감정 사용법       362
11                               열하일기 첫걸음       352
12                           당신의 슬픔을 훔칠게요       348
13                어쩌면 내가 가장 듣고 싶었던 말 (요약)       345
14                                  블랙코미디       343
15                     일 잘하는 사람은 단순하게 합니다       334
16               [성진환 낭독] 나조차 나를 사랑하지 못하고       333
17                             세계는 왜 싸우는가       314
18                    빨강머리 앤 : 초록지붕 집 이야기       312
19                           데일 카네기 인간관계론       288
20               [윤덕원 낭독] 해피 아포칼립스! _ 작은책       267
21                               좀머 씨 이야기       266
22                [김새벽 낭독] 인터내셔널의 밤 _ 작은책       261
23  [이승열 낭독] 모든 곳에 존재하는 로마니의 황제 퀴에크 _ 작은책       242
24                      빨강머리 앤 : 에이번리 이야기       231
25                    [공포괴담집] 저승에서 돌아온 남자       227
26              문성근이 읽는 박태원의 소설가 구보 씨의 일일       212
27                                들어본 이야기       209
28                   [공포괴담집] 무조건 모르는 척하세요       197
29                                 소년이 온다       195

In [23]:
df2 = pd.read_csv('C:/Users/USER/Desktop/깃헙코웤/team_3/data/댓글합.csv', encoding='utf-8').drop('Unnamed: 0', axis=1)

In [27]:
df2[df2['title'] == '좀머 씨 이야기'].groupby('created').count()

            nickname  rating  title  voice  author  review  publish  genre
created
2020.07.29         1       1      1      1       1       1        1      1
2020.07.30         1       1      1      1       1       1        1      1
2020.08.07        49      49     49     49      49      49       49     49
2020.08.08        31      31     31     31      31      31       31     31
2020.08.09        26      26     26     26      26      26       26     26
2020.08.10        45      45     45     45      45      45       45     45
2020.08.11        46      46     46     46      46      46       46     46
2020.08.12        32      32     32     32      32      32       32     32
2020.08.13        35      35     35     35      35      35       35     35

In [35]:
nickname=[]
rating=[]
title=[]
voice=[]
author=[]
review=[]
created=[]
publish=[]
genre=[]

a = pd.DataFrame({
    'nickname':nickname,
    'rating':rating,
    'title':title,
    'voice':voice,
    'author':author,
    'review':review,
    'created':created,
    'publish':publish,
    'genre':genre
})

for i in df['title']:
    df3 = df2[df2['title'] == i]
    a = pd.concat([a,df3])

###

In [36]:
a

,nickname,rating,title,voice,author,review,created,publish,genre
8429,고해용,80.0,최민식이 읽는 이범선의 오발탄,최민식,이범선,너무 좋습니다!!,2019.04.20,커뮤니케이션북스,오디오북스
8430,록시뮤직,100.0,최민식이 읽는 이범선의 오발탄,최민식,이범선,"와. 처음 최민식 배우님 목소리 듣자마자 와, 하는 탄성이 절로나오네요...",2019.03.03,커뮤니케이션북스,오디오북스
8431,heewoo1234,100.0,최민식이 읽는 이범선의 오발탄,최민식,이범선,카리스마가 느껴지는 목소리,2019.01.30,커뮤니케이션북스,오디오북스
8432,천사몽이오야,100.0,최민식이 읽는 이범선의 오발탄,최민식,이범선,역시 명배우다운 목소리 집중하여 들었습니다,2019.01.25,커뮤니케이션북스,오디오북스
8433,미쯔할배,100.0,최민식이 읽는 이범선의 오발탄,최민식,이범선,흠,2019.01.05,커뮤니케이션북스,오디오북스
...,...,...,...,...,...,...,...,...,...
6798,민주뉴스,100.0,소년이 온다,NaN,한강,오 성우분 목소리 집중하게 돼요,2019.04.01,창비,소설문학
6799,초초심22,100.0,소년이 온다,NaN,한강,ㅣ눈으로 읽는거보다 소리로 들으니 가독성이 훨씬 좋아요.오디오북 중 최고예요,2019.04.01,창비,소설문학
6800,조갑부,100.0,소년이 온다,NaN,한강,최고의 힐링,2019.04.01,창비,소설문학
6801,호고동,90.0,소년이 온다,NaN,한강,들으니 읽고 싶어 지네요,2019.04.01,창비,소설문학
6802,jee1029,100.0,소년이 온다,NaN,한강,정말 좋아요,2019.04.01,창비,소설문학

In [42]:
b = a.groupby(['title', 'created']).count().iloc[:,:1].reset_index()
b

                     title     created  nickname
0    [EBS 세계문학전집] 15소년 표류기  2019.10.10         4
1    [EBS 세계문학전집] 15소년 표류기  2019.10.11         1
2    [EBS 세계문학전집] 15소년 표류기  2019.10.19         1
3    [EBS 세계문학전집] 15소년 표류기  2019.12.02         1
4    [EBS 세계문학전집] 15소년 표류기  2019.12.05         1
..                     ...         ...       ...
370       최민식이 읽는 이범선의 오발탄  2019.01.05         2
371       최민식이 읽는 이범선의 오발탄  2019.01.25         1
372       최민식이 읽는 이범선의 오발탄  2019.01.30         1
373       최민식이 읽는 이범선의 오발탄  2019.03.03         1
374       최민식이 읽는 이범선의 오발탄  2019.04.20         1

[375 rows x 3 columns]

In [43]:
b[b['title'] == '[EBS 세계문학전집] 15소년 표류기']

                    title     created  nickname
0   [EBS 세계문학전집] 15소년 표류기  2019.10.10         4
1   [EBS 세계문학전집] 15소년 표류기  2019.10.11         1
2   [EBS 세계문학전집] 15소년 표류기  2019.10.19         1
3   [EBS 세계문학전집] 15소년 표류기  2019.12.02         1
4   [EBS 세계문학전집] 15소년 표류기  2019.12.05         1
5   [EBS 세계문학전집] 15소년 표류기  2019.12.09         7
6   [EBS 세계문학전집] 15소년 표류기  2019.12.10         3
7   [EBS 세계문학전집] 15소년 표류기  2019.12.11         1
8   [EBS 세계문학전집] 15소년 표류기  2019.12.12         1
9   [EBS 세계문학전집] 15소년 표류기  2019.12.15         1
10  [EBS 세계문학전집] 15소년 표류기  2019.12.25         1
11  [EBS 세계문학전집] 15소년 표류기  2019.12.29         1
12  [EBS 세계문학전집] 15소년 표류기  2020.02.02         1
13  [EBS 세계문학전집] 15소년 표류기  2020.02.19       109
14  [EBS 세계문학전집] 15소년 표류기  2020.02.20        70
15  [EBS 세계문학전집] 15소년 표류기  2020.02.21        46
16  [EBS 세계문학전집] 15소년 표류기  2020.02.22        42
17  [EBS 세계문학전집] 15소년 표류기  2020.02.23        46
18  [EBS 세계문학전집] 15소년 표류기  2020.02.24        37
19  [EBS 세계문학전집] 15소년 표류기  2020.02.25        50
20  [EBS 세계문학전집] 15소년 표류기  2020.02.26        47
21  [EBS 세계문학전집] 15소년 표류기  2020.04.09         1

In [53]:
b[b['title'] == '소년이 온다']

      title     created  nickname
284  소년이 온다  2019.04.01        42
285  소년이 온다  2019.04.02        40
286  소년이 온다  2019.04.03        27
287  소년이 온다  2019.04.04        26
288  소년이 온다  2019.04.05        18
289  소년이 온다  2019.04.06        12
290  소년이 온다  2019.04.07        26
291  소년이 온다  2019.04.15         1
292  소년이 온다  2019.04.16         1
293  소년이 온다  2019.04.18         1
294  소년이 온다  2020.11.05         1

In [45]:
b[b['title'] == df['title'][2]]

    title     created  nickname
175   딜리트  2019.09.04         1
176   딜리트  2019.09.12         1
177   딜리트  2019.09.13         1
178   딜리트  2019.11.27       198
179   딜리트  2019.11.28        67
180   딜리트  2019.11.29        46
181   딜리트  2019.11.30        31
182   딜리트  2019.12.01        50
183   딜리트  2019.12.02        62
184   딜리트  2019.12.03        63
185   딜리트  2019.12.18         1

In [46]:
b[b['title'] == df['title'][3]]

          title     created  nickname
127  담배만이 우리 세상  2019.09.23       171
128  담배만이 우리 세상  2019.09.24        51
129  담배만이 우리 세상  2019.09.25        39
130  담배만이 우리 세상  2019.09.26        26
131  담배만이 우리 세상  2019.09.27        18
132  담배만이 우리 세상  2019.09.28        16
133  담배만이 우리 세상  2019.09.29        17
134  담배만이 우리 세상  2019.09.30        17
135  담배만이 우리 세상  2019.10.01        32
136  담배만이 우리 세상  2019.10.02        23
137  담배만이 우리 세상  2019.10.03        19
138  담배만이 우리 세상  2019.10.04        16
139  담배만이 우리 세상  2019.10.05        15
140  담배만이 우리 세상  2019.10.06        19
141  담배만이 우리 세상  2019.10.11         1

In [47]:
b[b['title'] == df['title'][4]]

                    title     created  nickname
0   [EBS 세계문학전집] 15소년 표류기  2019.10.10         4
1   [EBS 세계문학전집] 15소년 표류기  2019.10.11         1
2   [EBS 세계문학전집] 15소년 표류기  2019.10.19         1
3   [EBS 세계문학전집] 15소년 표류기  2019.12.02         1
4   [EBS 세계문학전집] 15소년 표류기  2019.12.05         1
5   [EBS 세계문학전집] 15소년 표류기  2019.12.09         7
6   [EBS 세계문학전집] 15소년 표류기  2019.12.10         3
7   [EBS 세계문학전집] 15소년 표류기  2019.12.11         1
8   [EBS 세계문학전집] 15소년 표류기  2019.12.12         1
9   [EBS 세계문학전집] 15소년 표류기  2019.12.15         1
10  [EBS 세계문학전집] 15소년 표류기  2019.12.25         1
11  [EBS 세계문학전집] 15소년 표류기  2019.12.29         1
12  [EBS 세계문학전집] 15소년 표류기  2020.02.02         1
13  [EBS 세계문학전집] 15소년 표류기  2020.02.19       109
14  [EBS 세계문학전집] 15소년 표류기  2020.02.20        70
15  [EBS 세계문학전집] 15소년 표류기  2020.02.21        46
16  [EBS 세계문학전집] 15소년 표류기  2020.02.22        42
17  [EBS 세계문학전집] 15소년 표류기  2020.02.23        46
18  [EBS 세계문학전집] 15소년 표류기  2020.02.24        37
19  [EBS 세계문학전집] 15소년 표류기  2020.02.25        50
20  [EBS 세계문학전집] 15소년 표류기  2020.02.26        47
21  [EBS 세계문학전집] 15소년 표류기  2020.04.09         1

In [48]:
b[b['title'] == df['title'][5]]

                   title     created  nickname
22  [EBS 세계문학전집] 걸리버 여행기  2019.12.02         1
23  [EBS 세계문학전집] 걸리버 여행기  2020.01.16         1
24  [EBS 세계문학전집] 걸리버 여행기  2020.01.23         1
25  [EBS 세계문학전집] 걸리버 여행기  2020.02.19       105
26  [EBS 세계문학전집] 걸리버 여행기  2020.02.20        66
27  [EBS 세계문학전집] 걸리버 여행기  2020.02.21        41
28  [EBS 세계문학전집] 걸리버 여행기  2020.02.22        39
29  [EBS 세계문학전집] 걸리버 여행기  2020.02.23        38
30  [EBS 세계문학전집] 걸리버 여행기  2020.02.24        36
31  [EBS 세계문학전집] 걸리버 여행기  2020.02.25        48
32  [EBS 세계문학전집] 걸리버 여행기  2020.02.26        47
33  [EBS 세계문학전집] 걸리버 여행기  2020.11.13         1

In [49]:
b[b['title'] == df['title'][6]]

               title     created  nickname
34  [EBS 세계문학전집] 장발장  2019.11.18         1
35  [EBS 세계문학전집] 장발장  2020.02.19       101
36  [EBS 세계문학전집] 장발장  2020.02.20        66
37  [EBS 세계문학전집] 장발장  2020.02.21        44
38  [EBS 세계문학전집] 장발장  2020.02.22        39
39  [EBS 세계문학전집] 장발장  2020.02.23        39
40  [EBS 세계문학전집] 장발장  2020.02.24        33
41  [EBS 세계문학전집] 장발장  2020.02.25        48
42  [EBS 세계문학전집] 장발장  2020.02.26        46
43  [EBS 세계문학전집] 장발장  2020.03.21         1

In [50]:
b[b['title'] == df['title'][7]]

                 title     created  nickname
112  [한예리 낭독] 안락 _ 작은책  2019.03.26         1
113  [한예리 낭독] 안락 _ 작은책  2019.07.05       157
114  [한예리 낭독] 안락 _ 작은책  2019.07.06        58
115  [한예리 낭독] 안락 _ 작은책  2019.07.07        40
116  [한예리 낭독] 안락 _ 작은책  2019.07.08        46
117  [한예리 낭독] 안락 _ 작은책  2019.07.09        37
118  [한예리 낭독] 안락 _ 작은책  2019.07.10        34
119  [한예리 낭독] 안락 _ 작은책  2019.07.11        34

In [51]:
b[b['title'] == df['title'][8]]

         title     created  nickname
269  살고 싶다는 농담  2020.10.30       137
270  살고 싶다는 농담  2020.10.31        78
271  살고 싶다는 농담  2020.11.01        52
272  살고 싶다는 농담  2020.11.02        29
273  살고 싶다는 농담  2020.11.03        48
274  살고 싶다는 농담  2020.11.04        28
275  살고 싶다는 농담  2020.11.05        20

In [52]:
b[b['title'] == df['title'][9]]

                title     created  nickname
120  나는 왠지 대박날 것만 같아!  2020.10.09       123
121  나는 왠지 대박날 것만 같아!  2020.10.10        52
122  나는 왠지 대박날 것만 같아!  2020.10.11        48
123  나는 왠지 대박날 것만 같아!  2020.10.12        52
124  나는 왠지 대박날 것만 같아!  2020.10.13        43
125  나는 왠지 대박날 것만 같아!  2020.10.14        43
126  나는 왠지 대박날 것만 같아!  2020.10.15        30